<a href="https://colab.research.google.com/github/sambidhansenapati024/SAMBIDHAN_SENAPATI_2001206024_AIML/blob/main/Copy_of_SAMBIDHAN_SENAPATI_2001206024_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("Enter number: "))
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print("Reverse of the number:",rev)

Enter number: 169
Reverse of the number: 961

In [ ]:
a=11
b=20
print("a | b = ", a | b)

a | b =  31

In [ ]:
def add(x,y):
  while(y != 0): 
   carry= x & y
   x=x^y
   y=carry << 1
  return x
print(add(11,20))

31

In [ ]:
#Python program to find the area and perimeter
#Initializing the value of PI
PI=3.14
#input values
R=float(input("ENTER RADIUS OS THE CIRCLE:"))
# Find Prea and Perimeter
Area=(PI*R*R)
Perimeter=(2*PI*R)
print("The area of circle is",Area)
print("The perimeter of circle is",Perimeter)

ENTER RADIUS OS THE CIRCLE:25
The area of circle is 1962.5
The perimeter of circle is 157.0

In [ ]:
# Kilometer to meter , centimeter , milimeter
Kilometer=float(input("Enter the kilometers = "))

Meter=Kilometer * 1000
Centimeter=Kilometer * 100000
Milimeter=Kilometer * 1000000
print("Meter is:",Meter)
print("Centimeter is:",Centimeter)
print("Milimeter is",Milimeter)

Enter the kilometers = 10
Meter is: 10000.0
Centimeter is: 1000000.0
Milimeter is 10000000.0

In [9]:
#Python program to find reminder
def getReminder(num,divisor):
 return(num-divisor*(num//divisor))
num=200
divisor=7
print(getReminder(num,divisor))

4

In [18]:
#Input temperature and find celsius and fahrenheit
celsius=float(input("Enter temperture in celsius: "))
fahrenheit=(celsius * 1.8)+32
print(str(celsius) + "degree celcius is equal to" + str(fahrenheit ) + "degree fahrenheit.")

Enter temperture in celsius: 69
69.0degree celcius is equal to156.2degree fahrenheit.

In [10]:
#Python program to reverse to reverse a number without using loop
#Take input
num=int(input("Input the number"))
reverse=int(str(num)[::-1])
print("The reverse number is=",reverse)

Input the number1234567
The reverse number is= 7654321

In [15]:
#Find sum of two numbers without "+" operator
a=11
b=40
print("a | b = ", a | b)

a | b =  43

In [16]:
#find sum of two numbers without "+" operator
def add(x,y):
  while(y != 0): 
   carry= x & y
   x=x^y
   y=carry << 1
  return x
print(add(11,20))

31